section#skills section {
    display: table-cell;
    vertical-align: top;
    margin: 0;
    padding: 0 4px;
    border-radius: 2px;
}

#skills > div.skills {
    display: table;
    table-layout: fixed;
    border-spacing: 6px;
    width: 100%;
    text-align: center;
}

.skills h3 {
    font-size: 104%;
}

.skills ol {
    list-style: none;
}

ol {
    padding: 0;
    margin: 0;
}

li {
    margin: 6px 0;
}


section.skills-transferable, #languages div.skills-transferable, #experience > .skills-transferable > .projects > .project  {
    background-color: rgba(204, 204, 204, 0.2);
}

ol.skills-transferable li {
    background-color: rgba(204, 204, 204, 0.2);
    border-radius: 2px;
    padding: 0 4px;
    color: #fff;
}

section.skills-dev {
    background-color: rgba(153, 153, 204, 0.2);
}

ol.skills-dev li {
    background-color: rgba(153, 153, 204, 0.5);
    border-radius: 2px;
    padding: 0 4px;
    color: #fff;
}

section.skills-automotive {
    background-color: rgba(153, 204, 153, 0.2);
}

ol.skills-automotive li {
    background-color: rgba(153, 204, 153, 0.5);
    border-radius: 2px;
    padding: 0 4px;
    color: #fff;
}


section.experience, section.education, #experience > section.skills-transferable, #interests section.skills-transferable, #languages > .skills-transferable {
    display: table;
    table-layout: fixed;
    width: 100%;
    margin: 10px 0;
    border-radius: 2px;    
}

section.experience > header, section.education > header, #experience > section.skills-transferable > header, #interests section.skills-transferable > header {
    display: table-cell;
    vertical-align: top;
    width: 150px;
    padding: 20px 10px 10px 10px;
    text-align: center;
}

#languages div.skills-transferable > section {
    display: table-cell;
    vertical-align: top;
    padding: 20px 10px 10px 10px;
    text-align: center; 
}

div.projects, #experience div.skills-transferable {
    display: table-cell;
    vertical-align: top;
    padding: 10px;
}

.projects section:last-of-type {
    margin-bottom: 0;
}

.project {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 2px;  
/*
    background: rgba(255, 255, 255, 0.1);
    color: rgb(255, 255, 255);
*/
}

.experience, .experience .project {
    background: rgba(129, 162, 190, 0.2);
    background: rgba(153, 153, 255, 0.2);
    background: rgba(153, 153, 204, 0.2);
    color: rgb(255, 255, 255);
}

.education, .education .project {
    background: rgba(205, 92, 92, 0.2);
    background: rgba(153, 204, 102, 0.2);
    background: rgba(102, 204, 153, 0.2);
    background: rgba(102, 204, 102, 0.2);
    background: rgba(153, 255, 153, 0.2);
    background: rgba(153, 204, 153, 0.2);
    color: rgb(255, 255, 255);
}

p.description {
    display: none;
}

section header * {
margin: 0px;
}
