<!DOCTYPE html>
<html>
    <head>
        <title>{% if page.title %} {{ page.title }} - {% endif %}{{ site.name }}</title>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
        <link href="https://plus.google.com/100739856147735932449" rel="publisher" />
        <link href="/static/style.css" media="screen" rel="stylesheet" type="text/css" />
        <link href="/static/coderay.css" media="screen" rel="stylesheet" type="text/css" />
<!--        <link href="/static/blocks.css" media="screen" rel="stylesheet" type="text/css" /> -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    </head>
    <body>
        <header id="header">
            <div id="headertitle"><h1><a href="/">Simon<span id="lastname"> van der Veldt</span></a></h1></div>
            <nav id="networklinks">
                <a href="http://www.linkedin.com/in/simonvanderveldt"><img alt="LinkedIn profile Simon van der Veldt" height="24" src="/static/images/linkedin.png" width="24" /></a>
                <a href="http://gplus.to/simonvanderveldt"><img alt="Google+ profile Simon van der Veldt" height="24" src="/static/images/googleplus.png" width="24" /></a>
                <a href="http://www.facebook.com/simon.vanderveldt"><img alt="facebook profile Simon van der Veldt" height="24" src="/static/images/facebook.png" width="24" /></a>
                <a href="https://github.com/simonvanderveldt"><img alt="Github  Simon van der Veldt" height="24" src="/static/images/github.png" width="24" /></a>
                <a href="/about"><img alt="About me and this website" height="24" src="/static/images/about.png" width="24" /></a>
            </nav>
        </header>
