<article>
<header>
  <h1><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h1>
  <p><time itemprop="datePublished" datetime={{ page.date | date_to_xmlschema }}>{{ page.date | date: "%-d %B %Y" }}</time>
    {% if page.tags.size > 0 %}in
      {% for tag in page.tags %}
        <a href="/posts-about/{{ tag }}/">{{ tag }}</a>{% if forloop.last == false %}, {% endif %}
      {% endfor %}
    {% endif %}
    {% unless include.frontpage %} | <a href="https://github.com/simonvanderveldt/simonvanderveldt.github.io/issues/new?title=Feedback on post: {{ page.title }}&labels=feedback" title="Leave feedback on this post (on GitHub)">feedback</a>{% endunless %}
</header>
{% if include.frontpage %}{{ page.excerpt }}{% else %}{{ content }}{% endif %}
</article>