$background:  #111 url(data:image/jpeg;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAIAAAAmkwkpAAAAGklEQVR42mMQhAEJCQkGOAtIMsBZIA6cBQQAW5wDhYzvi1MAAAAASUVORK5CYII%3D);
$foreground:  #fff;
$header:      indianred;
$link:        #81a2be;
$meta:        #aaa;
$info:        $link;
$warning:     $header;
