## -*- coding: utf-8 -*-
<%inherit file="base.tmpl"/>

<%block name="extra_head">
%if 'tag' in context.keys():
    <link rel="alternate" type="application/rss+xml" type="application/rss+xml" title="${blog_title|striphtml} - Posts about ${tag}" href="${_link("tag" + "_rss", tag)}">
%endif
</%block>

<%block name="content">
    <main>

%if 'tag' in context.keys():
    <span class="meta">Posts about ${context["tag"]}</span>
%endif

    % for post in posts:
        <article>
            <header>
                <h1><a href="${post.permalink()}">${post.title()}</a></h1>
                <p><time itemprop="datePublished" datetime="${post.date.isoformat()}">${'{dt.day} {dt:%B %Y}'.format(dt = post.date)}</time>
                %if post.tags:
                    in 
                    %for tag in post.tags:
                        <a class="category" href="${_link('tag', tag)}">${tag}</a>\
%if not loop.last:
,
%endif
                    %endfor
                %endif
                </p>
            </header>
        %if index_teasers:
        ${post.text(teaser_only=True)}
        %else:
        ${post.text(teaser_only=False)}
        %endif
        </article>
    % endfor

%if prevlink or nextlink:
  <ul class="pager">
    %if prevlink:
      <li class="previous">
          <a href="${prevlink}" rel="prev">&larr; Newer posts</a>
      </li>
    %endif
    %if nextlink:
      <li class="next">
          <a href="${nextlink}" rel="next">Older posts &rarr;</a>
      </li>
    %endif
  </ul>
%endif

    </main>
</%block>
