## -*- coding: utf-8 -*-
<%inherit file="base.tmpl"/>

<%block name="extra_head">
<link href="/assets/css/code.css" rel="stylesheet" type="text/css">
</%block>

<%block name="content">
    <article>
        <header>
        %if title and not post.meta('hidetitle'):
            <h1>${title}</h1>
        %endif

        <p>
            %if post.source_path.startswith('_posts'): 
                <time itemprop="datePublished" datetime="${post.date.isoformat()}">${'{dt.day} {dt:%B %Y}'.format(dt = post.date)}</time>
            %endif
            %if post.tags:
                in 
                %for tag in post.tags:
                    <a class="category" href="${_link('tag', tag)}">${tag}</a>\
%if not loop.last:
,
%endif
                %endfor
            %endif
            %if post.source_path.startswith('_posts'):
                | <a href="https://github.com/simonvanderveldt/simonvanderveldt.github.io/issues/new?title=Feedback on post: ${title}&labels=feedback" title="Leave feedback on this post (on GitHub)">feedback</a>
            %endif
        </header>

        ${post.text().replace('<div class="footnote">\n<hr>', '<div class="footnote">')}

    %if post.source_path.startswith('_posts'):
        <ul class="pager">
        %if post.prev_post:
            <li class="previous">
                <a href="${post.prev_post.permalink()}" rel="prev">&larr; ${post.prev_post.title()}</a>
            </li>
        %endif
        %if post.next_post:
            <li class="next">
                <a href="${post.next_post.permalink()}" rel="next">${post.next_post.title()} &rarr;</a>
            </li>
        %endif
        </ul>
    %endif

    </article>
</%block>
