---
---

@import "colors";

body {
	background: $background;
    color: $foreground;
	font: 300 16px/26px lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-top: 20px;
}

a {
    color: $link;
    text-decoration: none;
}

a:hover {
    border-bottom: 1px solid $link;
}

body > header, body > main, body > footer, body > article {
    max-width: 38em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2%;
    padding-right: 2%;
}

body > header {
    font-weight: bold;
}

body > header > h1 {
    margin: 8px auto;
}

body > header a {
    color: $foreground;
}

body > header a:hover {
    color: $link;
    border-bottom: none;
}

body > header > nav > a {
    padding: 1px 3px 2px;
}

main > article {
    padding-bottom: 10px;
}

article > header > h1 {
    line-height: initial;
    margin-bottom: 12px;
}

article > header > h1 > a {
    color: $header;
}

article > header > h1 > a:hover {
    border-bottom: 1px solid $header;
}

article > h2 > a.anchor,
article > h3 > a.anchor {
    visibility: hidden;
}

article > h2:hover > a.anchor,
article > h3:hover > a.anchor {
    visibility: visible;
}

article > h2 > a.anchor:hover,
article > h3 > a.anchor:hover {
    border-bottom: none;
}

article > header > p, body > footer > small {
    color: $meta;
    font-size: 0.9rem;
}

p {
    word-wrap: break-word;
}

.pager {
    list-style: none;
    padding: 0;
}

.pager > .previous {
    float:left;
    width: 50%;
}

.pager > .next {
    float:right;
    text-align: right;
    width: 50%;
}

.pager:after {
    content: " ";
    clear: both;
    display: table;
    height: 0px;
}

.footnotes > ol {
    padding-left: 20px;
    font-size: 0.9rem;
}

.highlight > pre {
    overflow: scroll;
}

.alert {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 3px;
}

.alert > a {
    color: $foreground;
    font-weight: bold;
}

.alert-info {
    background-color: $info;
}

.alert-warning {
    background-color: $warning;
}


@media screen and (min-width: 42em) {

body > header, body > main, body > footer, body > article {
    padding-left: 0;
    padding-right: 0;
}

article > header > h1 {
    font-size: 2.4rem;
}

article > h2 {
    margin-top: 30px;
}

article > h3 {
    margin-top: 24px;
}
}
