<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="icon" href="data:,">
    <link href="/assets/css/theme.css" rel="stylesheet" type="text/css"/>
    {% if page.css %}<link href="/assets/css/{{ page.css }}" rel="stylesheet" type="text/css"/>{% endif %}
    <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="/feed.xml">
    {% seo %}
  </head>

  <body>
    <header>
      <nav id="navigation">
        <a href="/">HOME</a> |
        <a href="/about">ABOUT</a> |
        <a href="https://github.com/simonvanderveldt">GITHUB</a> |
        <a href="http://www.linkedin.com/in/simonvanderveldt">LINKEDIN</a>
      </nav>
    </header>

    <main>
      {{ content }}
    </main>

    <footer>&copy; 2013 - {{ site.time | date: "%Y" }} {{ site.author }} - <a href="{{ "/feed.xml" | prepend: site.baseurl }}">Newsfeed</a></footer>
  </body>
</html>
