<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <title>{{ site.name }}{% if page.title %} - {{ page.title }}{% endif %}</title>
    <link href="https://plus.google.com/100739856147735932449" rel="author" />
    <link href="/assets/css/theme.css" rel="stylesheet" type="text/css"/>
    {% if page.css %}<link href="/assets/css/{{ page.css }}" rel="stylesheet" type="text/css"/>{% endif %}
    <link href="https://fonts.googleapis.com/css?family=Lato:300italic,300" rel="stylesheet" type="text/css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="/feed.xml">
  </head>

  <body>
    <header>
      <h1><a href="/">{{ site.name }}</a></h1>
      <nav id="navigation">
        <a id="about" href="/about">about</a>
        <a id="resume" href="/resume">résumé</a>
        <a id="linkedin" href="http://www.linkedin.com/in/simonvanderveldt">linkedin</a>
        <a id="gplus" href="http://gplus.to/simonvanderveldt">google+</a>
        <a id="github" href="https://github.com/simonvanderveldt">github</a>
      </nav>
    </header>

    <main>
      {{ content }}
    </main>

    <footer><small>&copy; 2013 - {{ site.time | date: "%Y" }} {{ site.author }} - <a href="{{ "/feed.xml" | prepend: site.baseurl }}">Newsfeed</a></small></footer>

    <script src="/assets/js/ga.js"async></script>

    {% if page.js %}
        {% for script in page.js %}
    <script src="{{ script }}"></script>
        {% endfor %}
    {% endif %}
  </body>

</html>
